@import '../../variables.scss';

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: $primary-color;
}

h1.title-text {
  font-size: 20px;
}
