@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

$primary-color: #dee2e6;
$accent-color: #f1f3f5;
$text-color-primary: #212529;
$text-color-secondary: #495057;
$font-family: 'Open Sans', sans-serif;
